
<section id="header">
    {% extends 'base.html' %}
  </section>
  {% block header %}
    <h1 class="figure-content">{% block title %}Example Plot(s){% endblock %}</h1>
  {% endblock %}


{% block content %}
<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<!-- Form to allow the user to choose x_column -->
<!-- <form method="POST">
    <label for="x_column">Choose X-axis Column:</label>
    <select name="x_column" id="x_column">
        <option value="sepal_width" {% if x_column == 'sepal_width' %}selected{% endif %}>Sepal Width</option>
        <option value="sepal_length" {% if x_column == 'sepal_length' %}selected{% endif %}>Sepal Length</option>
    </select>
    <input type="submit" value="Update Plot">
</form> -->

<div id="vertical-navbar">
    <nav>
        <div class="flex-column" style="text-align: left;">
        <!-- <h5>Upload Shapefile</h5> -->
        <!-- <h4 style="text-align: left;">Upload Shapefile</h4> -->
        <form method="POST" style="padding-left: 0;">
            <label for="x_column" style="align-items: left">Choose X-axis Column:</label>
            <select name="x_column" id="x_column">
                {% for col in columns %}
                    <option value="{{ col }}" {% if x_column == "{{ col }}" %}selected{% endif %}>{{ col }} </option>
                <!-- <option value="sepal_width" {% if x_column == 'sepal_width' %}selected{% endif %}>Sepal Width</option>
                <option value="sepal_length" {% if x_column == 'sepal_length' %}selected{% endif %}>Sepal Length</option> -->
                {% endfor %}
                <!-- Add more options for other columns as needed -->
            </select>
            <input type="submit" value="Update Plot">
        </form>
        </div>
    </nav>
</div>



<!-- Display the Plotly plot -->
<!-- id="plotly-plot" -->
<div class="row"> <!-- style="height: 50%;" -->
    <div class="col-md-5 offset-sm-2 border-primary order-md-1" style="margin-top: 1%; margin-bottom: 5%">  
        {{ plot_html | safe }}
    </div>
    <div class="col-md-5 border-primary order-md-2" style="margin-top: 1%; margin-bottom: 5%">  
        {{ plot_html1 | safe }}
    </div>
</div>

<div class="row"> <!-- style="height: 50%;" -->
    <div class="col-md-5 offset-sm-2 border-primary order-md-3" style="margin-top: 1%; margin-bottom: 5%">  
        {{ plot_html2 | safe }}
    </div>
    <div class="col-md-5 border-primary order-md-4" style="margin-top: 1%; margin-bottom: 5%">  
        {{ plot_html3 | safe }}
    </div>
</div>

{% endblock %}
