
<section id="header">
    {% extends 'base.html' %}
</section>
{% block header %}
    <h1 class="figure-content">{% block title %}Linux and HPC Primer{% endblock %}</h1>
{% endblock %}

{% block content %}
<!-- <div class="container-fluid col-12">
    <h2>
        <a href="https://1drv.ms/w/s!Aq4MLIcfy9hJgp9TTnAPBBWE9Dr2Sw?e=Cl6uI2" target="_blank">
            Click here to access downloadable version
        </a>
    </h2>
</div> -->
<div>
  <h2> Download via menu button at the bottom of the document window. </h2>
</div>
<div class="doc-container col-12">
    <iframe src="https://onedrive.live.com/embed?resid=49D8CB1F872C0CAE%2136819&authkey=!AHz2IwMmszuOTQg&em=2"></iframe>
</div>

{% endblock %}
